.gitattributes				export-ignore
.gitignore				export-ignore
.editorconfig				export-ignore
README.md				export-ignore
dev-tools/				export-ignore
kubejs-DOKUs/				export-ignore

# Keep files with linux eol, because the mods create them with this eol
config/ae2/*				text eol=lf
config/jade/sort-order.json		text eol=lf
config/xaerominimap_entities.json	text eol=lf

# Add rules for custom diff-tools (requires local configuration to work)
modlist.html				diff=sort
manifest.json				diff=modlist-sort


# Add extra syntax highlight for certain file extensions - see https://docs.gitlab.com/ee/user/project/highlighting.html#override-syntax-highlighting-for-a-file-type
*.snbt					gitlab-language=json
*.jsonc					gitlab-language=json
*.json5					gitlab-language=json
*.cfg					gitlab-language=ini
