/*
!/kubejs/
!/kubejs/*
!/config/
!/config/*
/config/luckperms/luckperms-h2-v2.mv.db
/config/libraryferret_1.properties
/config/bettervillage_1.properties
/config/worldedit/worldedit.properties
!/defaultconfigs/
!/defaultconfigs/*
!/world/serverconfig/
!/world/serverconfig/*

# Dont ignore git meta-files
!/.gitignore
!/.gitattributes

# Dont ignore dev-tools
!/dev-tools/

