.gitattributes				export-ignore
.gitignore				export-ignore
.editorconfig				export-ignore
README.md				export-ignore
dev-tools/				export-ignore
kubejs-DOKUs/				export-ignore

# Keep files with linux eol, because the mods create them with this eol
config/ae2/*				text eol=lf
config/jade/sort-order.json		text eol=lf
config/xaerominimap_entities.json	text eol=lf

# Add rules for custom diff-tools (requires local configuration to work)
modlist.html				diff=sort
manifest.json				diff=modlist-sort
